html {
    scroll-behavior: smooth;
  }

body{
  overflow-x: hidden;
  font-family: "Lucida Console", Monaco, monospace;
}

.Home-section{
  background-color: black;
}

.gif{
    height: 100%;
    width: 100%;
}

/* Terminal-section */

.terminal-section{
    background-color: black;
    padding: 20px;
    color: green;
  }

  a.btn-tellmesecret{
    background-color: red;
    padding: 20px;
    color: white;
    text-decoration: none;
}

a:not([href]):hover{
    color: white;
}

.terminal-screen{
    height: 80vh;
}

.modal-content{
  height: 60vh;
    background: green;
    color: black;
    padding: 5px;
}