body{
  overflow-x: hidden;
  font-family: "Lucida Console", Monaco, monospace;
}

.Home-section{
  background-color: black;
}

.gif{
    height: 100%;
    width: 100%;
}

/* Terminal-section */

.terminal-screen{
    background-color: black;
    height: 100vh;
    color: green;
    padding: 20px;
  }


  .css-typing p {
    font-family: "Courier";
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .css-typing p:nth-child(2) {
    width: 11.5em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  